@import "variables";
@import "mixins";

footer {
	.full_line {
		width: 100%;
		background: url("../images/bg.jpg")center no-repeat;
    	background-size: cover;

		.footer_menu {
			font-size: 18px;
			font-weight: bold;
			color: $white-color;
			letter-spacing: 0.4px;
			margin-top: 50px;

			@media only screen and (max-width: 575px) {
				margin-top: 0px;	
			}
		}

		ul {
			padding-left: 0;
			margin-left: 0;

			.menu_item {
				font-size: 14px;
				list-style-type: none;

				a {
					color: $yellow-footer-color;
					line-height: 24px;
					&:hover {
						color: #958b00;
						text-decoration: none;
					}	
				} 
			}
		}
	}
}
.footer_item {
	margin: 0 auto;

	.address {
		color: $yellow-footer-color;
		width: auto;
		line-height: 24px;
		font-size: 14px;
	}

	.footer_phone {
		color: $white-color;
		font-size: 18px;
		letter-spacing: 1px;
		margin-bottom: 0;
	}

	.footer_email {
		color: $white-color;
		font-size: 14px;
		word-wrap: break-word;
	}	
}

.footer_menu_block {
	margin-bottom: 20px;

	@media only screen and (max-width: 575px) {
		margin-bottom: 50px;	
	}
}

.bottom_footer {

	.bottom_block {
		margin: 35px 0;

		@media only screen and (max-width: 992px) {
			text-align: center;	
		}

		.block_links {
			@include flex-align-center;

			@media only screen and (max-width: 992px) {
				justify-content: center;
			}

			img {
				margin-right: 2px;
				margin-left: 3px;
			}
		}

		.bottom_text {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 0;
		}	
	}
}

.up {
	color: $brown-color;

	&:hover {
		text-decoration: none;
		color: black;
		border-bottom: 1px solid $brown-color;
	}
}








