//============COLORS==============
$white-color: #fff;
$brown-color: #4a3322; 
$green-color: #afcb1f;  
$grey-color: #878787;
$light-grey-color: #a9a9a9;
$place-holder-color: #c9c9c9;
$hover-btn-color: #93aa1a;
$click-btn-color: #637312;
$yellow-color: #feed00;
$yellow-footer-color: #c2b505;
$input-color: #5e5e5e;
$short-description-color: #c1c0c0;
$comment-block-color: #f8f8f8;  


//============FONTS===============
$font-Futura: 'Futura PT';
$font-Futura-Demi: 'Futura PT Demi';
$font-size-12: 12px;

